<html xmlns:th="http://thymeleaf.org">
    <html xmlns:th="http://thymeleaf.org">
    <head>
        <title>New Hope Badminton Academy</title>
        <link rel="stylesheet" href="" th:href="@{/CSS/style.css}">
    </head>
    <body>
        <div class="nav">
            <img src="" th:src="@{/images/logo.png}" alt="New Hope Badminton Academy Logo" class="logo" >
            <ul class="nav-bar", style="list-style: none;">
                <li><a href="" th:href="@{/home}">Home</a></li>
                <li><a href="" th:href="@{/Trainings}">Trainings</a></li>
                <li><a href="" th:href="@{/info}">About Us</a></li>
                <li><a href="" th:href="@{/Gallery}">Gallery</a></li>
                <li><a href="" th:href="@{/Tournament}">Tournaments Info</a></li>
                <li><a href="" th:href="@{/Person}">My Page</a></li>
            </ul>
        </div>

        <div class="big2-container">
            <div class="message">
                <h1>Our goal</h1>
                <p>
                    Badminton is a racquet sport played using racquets to hit a shuttlecock across a net. Although it may be played with larger teams, 
                    the most common forms of the game are "singles" (with one player per side) and "doubles" (with two players per side). 
                    Badminton is often played as a casual outdoor activity in a yard or on a beach; formal games are played on a rectangular indoor court. 
                    Points are scored by striking the shuttlecock with the racquet and landing it within the other team's half of the court.
                </p>
            </div>

            <div class="people">


                <h1 style="margin-bottom: 100px;">Our Staff</h1>

                <div class="sub">
                    <img class="pep-img" src="" th:src="@{/images/home.jpg}" alt="Kao">
                <p>
                    Badminton is a racquet sport played using racquets to hit a shuttlecock across a net. Although it may be played with larger teams, 
                    the most common forms of the game are "singles" (with one player per side) and "doubles" (with two players per side). 
                </p>
                </div>

                <div class="sub">
                    <img class="pep-img" src="" th:src="@{/images/home.jpg}" alt="Tee" style="float: right;margin-left: 50px;">
                <p>
                    Badminton is a racquet sport played using racquets to hit a shuttlecock across a net. Although it may be played with larger teams, 
                    the most common forms of the game are "singles" (with one player per side) and "doubles" (with two players per side). 
                </p>
                </div>

                <div class="sub">
                    <img class="pep-img" src="" th:src="@{/images/home.jpg}" alt="Roy">
                <p>
                    Badminton is a racquet sport played using racquets to hit a shuttlecock across a net. Although it may be played with larger teams, 
                    the most common forms of the game are "singles" (with one player per side) and "doubles" (with two players per side). 
                </p>
                </div>
            </div>
         </div>

         <div class="bottom-container">
            <a class="footer-link" href="www.linkedin.com/in/sank-m-110421245">LinkedIn</a>
            <a class="footer-link" href="https://twitter.com/SankM15">Twitter</a>
            <p class="copyright">© NewHopeBadmintonAcademy</p>
          </div>
    </body>
</html>