<html xmlns:th="http://thymeleaf.org">
    <html xmlns:th="http://thymeleaf.org">
    <head>
        <title>New Hope Badminton Academy</title>
        <link rel="stylesheet" href="" th:href="@{/CSS/style.css}">
    </head>
    <body>
        <div class="nav">
            <img src="" th:src="@{/images/logo.png}" alt="New Hope Badminton Academy Logo" class="logo" >
            <ul class="nav-bar", style="list-style: none;">
                <li><a href="" th:href="@{/home}">Home</a></li>
                <li><a href="" th:href="@{/Trainings}">Trainings</a></li>
                <li><a href="" th:href="@{/info}">About Us</a></li>
                <li><a href="" th:href="@{/Gallery}">Gallery</a></li>
                <li><a href="" th:href="@{/Tournament}">Tournaments Info</a></li>
                <li><a href="" th:href="@{/Person}">My Page</a></li>
            </ul>
        </div>


        <div class="Tournament-container">

            <div class="tournament t1">
                <img class="tour-img" src="" th:src="@{/images/home.jpg}" alt="t1">

                <div class="tour-content">
                    <a href="https://www.tournamentsoftware.com/tournament/924dbb43-62b1-45e6-b231-9d0d1f8a198b" target="_blank"><h1>New Hope Badminton Academy Grand Opening Tournament</h1></a>
                    <p style="color: antiquewhite;">
                    Badminton is a racquet sport played using racquets to hit a shuttlecock across a net. Although it may be played with larger teams, 
                    the most common forms of the game are "singles" (with one player per side) and "doubles" (with two players per side). 
                    </p>
                </div>
            </div>
            <div class="tournament t2">
                <img class="tour-img" src="" th:src="@{/images/home.jpg}" alt="t1">
                <div class="tour-content">
                    <a href="https://www.tournamentsoftware.com/tournament/969C4DDA-41E3-4271-9390-7C8FC2349425" target="_blank"><h1>2024 New Hope Badminton Academy Summer Tournament</h1></a>
                <p style="color: antiquewhite;">
                    Badminton is a racquet sport played using racquets to hit a shuttlecock across a net. Although it may be played with larger teams, 
                    the most common forms of the game are "singles" (with one player per side) and "doubles" (with two players per side). 
                </p>
                </div>
            </div>
            
        </div>
    </body>
</html>